@font-face{
    src: url("ctu.ttf");
    font-family: ctu;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    margin: 0;
    
    
}

.container {
    
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background-color: #1B244A;
    
}

.btn-container{
    width: 155px;
    display: flex;
    justify-content: space-between;
}

.heading{
    width: 149px;
    height: 36px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px; 
    margin-bottom: 21px; 
}
.score{
    margin-top:0px; 
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 5px;
    font-family: ctu;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    margin-bottom: 25px;
    padding-top: 8px;
    color: #F94F6D;
}
.btn{
    font-family: ctu;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    background-color: #1B244A;
}
#home{
    padding-left: 10px;
}
#newGame-btn{
    width: 120px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #1B244A;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    
}
#newGame-btn:hover,.btn:hover{
    
    border: 3px solid #9AABD8;
}
